<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <style>
        form{
            height: 240px;
            width: 200px;
            border: 2px solid black;
            line-height: 32px;
            text-align: center;
            border-radius: 10px;
            padding:10px 5px ;
        }
    </style>
</head>
<body>
    <h3>Update Listing Details...</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" value="<%= listing.title %>" name="listing[title]">

        <textarea name="listing[description]"><%= listing.description %></textarea>

        <input type="text" value="<%= listing.image %>" name="listing[image]">

        <input type="text" value="<%= listing.price %>" name="listing[price]">

        <input type="text" value="<%= listing.location %>" name="listing[location]">

        <input type="text" value="<%= listing.country %>" name="listing[country]">
        <button>Add</button>
    </form>
</body>
</html>