<% layout('layouts/boilerplate')  -%>
<body>
    <h2>Listing Details</h2>
    <ul>
        <li><%=listing.title%></li>
        <li><%=listing.description%></li>
        <li>&#8360; <%=listing.price.toLocaleString('en-PK')%></li>
        <li><%=listing.location%></li>
        <li><%=listing.country%></li>
    </ul>
    <a href="/listings/<%=listing._id%>/edit">Edit listing</a>
    <form method="POST" action="/listings/<%= listing._id%>?_method=DELETE">
        <button>Delete Listing</button>
    </form>
</body>

